body {
    .textoAbout{
        color: white;
        font-size: 10rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: 8rem;
        margin-top: 11rem;
        margin-bottom: 15rem;
    }
    .bloqueUno__texto__about{
        font-size: 3rem;
    }
}